<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>
    {% if request.user.if_authenticated %}
        <p>Bem-vindo, {{ request.user.username }}!</p>
    {% else %}
        <p>Você precisa estar logado.</p>
    {% endif %}
    <ul>
        <li>
            <a href="{% url 'carros:listar_carros' %}">Ver lista de carros</a>
        </li>
        <li>
            <a href="{% url 'carros:cadastrar_carro' %}">Cadastrar novo carro</a>
        </li>

        <a href="{% url 'carros:login' %}"><button>Login</button></a>

        <a href="{% url 'carros:cadastro' %}"><button>Cadastro</button></a>
    </ul>
</body>
</html>
